/*
COLORS:

Light green: #7ed56f
Medium green: 
Dark green: #28b485

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.html {
  font-size: 80%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%) rotate(180deg); }
  60% {
    opacity: 0.8;
    transform: translateX(10%) rotate(90deg); }
  100% {
    opacity: 1;
    transform: translate(0) rotate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20%); }
  60% {
    opacity: 0.8;
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.body {
  font-family: "Lato", sant-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #ffff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    transform: rotate(0); }
  .heading-primary--sub {
    display: block;
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s;
    /* animation-iteration-count: 2; */
    /* animation-timing-function: ease-out; */
    /* animation-delay: 3s; */ }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  display: inline-block;
  transition: all ease-out 0.5s;
  position: relative; }

.btn--white {
  background-color: #fff;
  color: black; }
  .btn--white::after {
    background-color: #fff;
    color: black; }

.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all ease-out 0.4s; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center; }

.body {
  font-family: "Lato", sant-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #ffff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    transform: rotate(0); }
  .heading-primary--sub {
    display: block;
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 2s;
    /* animation-iteration-count: 2; */
    /* animation-timing-function: ease-out; */
    /* animation-delay: 3s; */ }
